<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945016982663-f89p1h23st0rc32unn4c3d6s8p2iiss1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945016982663-f89p1h23st0rc32unn4c3d6s8p2iiss1</string>
	<key>API_KEY</key>
	<string>AIzaSyCT5DhMnJ1PX6aOcD0v715nASSsgPkYioE</string>
	<key>GCM_SENDER_ID</key>
	<string>945016982663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.find</string>
	<key>PROJECT_ID</key>
	<string>finds-3dd17</string>
	<key>STORAGE_BUCKET</key>
	<string>finds-3dd17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945016982663:ios:3e3d3559df7b983d6afc22</string>
</dict>
</plist>